*{
    margin: 0px; 
    box-sizing: border-box;
}
section{
    position: relative;   
    margin: 0; 
    background-color: black;
    color: blue;
    height: 100vh; 
    width: 100%;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 220px; 
    letter-spacing: -15px;  
    line-height: 200px; 
    text-transform: uppercase;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 220px; 
    letter-spacing: -15px;  
    line-height: 200px; 
    text-transform: uppercase;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-size: 100px; 
    letter-spacing: -5px;  
    text-transform: uppercase;
    color: white; 
}
h4{ 
    font-size: 30px; 
}
#header{
    padding: 20px;  
}
#subtext-container{
    width: 49%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif; 
    color: white;
    padding-left: 10px; 
    padding-top: 20px; 
}
#subtext-block{
    height: 10px; 
    width: 250px; 
    background-color: white; 
}
#description{
    width: 49%; 
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    padding-left: 10px; 
    padding-top: 20px; 
    text-align: justify; 
    color: white; 
}
#scroll-down-container{
    text-align: center;
    width: 50%; 
    padding-top: 40px; 
    color: gray; 
}
#scroll-down-text{
    font-family: 'Open Sans', sans-serif;
}
.fa-arrow-down{
    padding-top: 10px; 
    font-size: 30px; 
}

#header-image{
    height: 100%;
    position: absolute; 
    top: 0; 
    right: 0;  
}

/* Timeline Section */
#state-of-the-club{
    height: 300vh; 
}
#first-node-container{
    position: relative; 
}
#first-node-heading{
    text-align: center;
    position: relative; 
    top: 20px; 
    z-index: 2; 
}
#first-text-heading{
    text-align: center;
    position: relative; 
    z-index: 2; 
    
}
#date{
    text-align: left;
    position: absolute; 
    z-index: 3;
    top: -3%; 
    right: 0; 
}
#sarri-europa-league{
    position: absolute;
    top: -100%; 
    left: -5%;  
    z-index: 0; 
    height: 500px; 
    padding: 20px; 
}
